<ion-card>
  <ion-card-header>
    <ion-buttons>
      <ion-back-button> </ion-back-button>
    </ion-buttons>
    <ion-card-subtitle>Device #1234</ion-card-subtitle>
    <ion-card-title>Alias</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-list>
      <ion-list-header> <ion-label>List Header</ion-label> </ion-list-header>
      <ion-item> Input </ion-item>
      <ion-list-header> <ion-label>Recors </ion-label> </ion-list-header>
      <ion-item> Temperature </ion-item>
      <ion-item> <ion-label> Humidity </ion-label> </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
