<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs"> </ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="device$ | async as device">
      Device #{{ device.id }}
    </ion-title>
  </ion-toolbar>
  <ion-buttons slot="end">
    <ion-button> </ion-button>
  </ion-buttons>
</ion-header>
<ion-content *ngIf="device$ | async as device">
  <div *ngFor="let sensor of device.sensors">
    <app-sensor-chart
      *ngFor="let period of periods"
      [device]="device"
      [sensor]="sensor.name"
      [period]="period"
    >
    </app-sensor-chart>
  </div>
</ion-content>
