<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs"> </ion-back-button>
    </ion-buttons>
    <ion-title> Station Device #1234 </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngFor="let item of [12321, 2521, 242]" routerLink="./1">
    <ion-card>
      <ion-card-header>
        <ion-card-title> Device #{{ item }} </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label>Temperature</ion-label>
            <span slot="end"> 100C </span>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <ion-card *ngFor="let item of [1, 2, 3]">
      <ion-card-header>
        <ion-card-title> Label </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <app-chart> </app-chart>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
