<ion-card>
  <ion-card-header>
    <ion-buttons>
      <ion-back-button> </ion-back-button>
    </ion-buttons>
    <ion-card-subtitle>#{{ device.id }}</ion-card-subtitle>
    <ion-card-title>{{ device.name ?? "Device" }}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-list>
      <ion-list-header> <ion-label> Sensors </ion-label> </ion-list-header>
      <ion-item *ngFor="let sensor of device.sensors">
        <ion-label> {{ sensor.name }} </ion-label>
        {{ sensor.lastValue }}
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
