<ion-card>
  <ion-card-header>
    <ion-buttons>
      <ion-back-button> </ion-back-button>
    </ion-buttons>
    <ion-card-subtitle>Station #{{ station.id }}</ion-card-subtitle>
    <ion-card-title>{{ station.name }}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-label>Devices Connected:</ion-label>
        35
      </ion-item>
      <ion-item>
        <ion-label>Last Update</ion-label>
        {{ station.updated_at | amTimeAgo }}
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
