<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> Stations </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="./create">
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-station-item
    *ngFor="let a of [1, 2, 3, 4, 5]"
    routerLink="/station-device/1"
  >
  </app-station-item>
</ion-content>
