<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> Station #1234 </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="remove()">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
      <ion-button routerLink="./edit">
        <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-station-device-item
    *ngFor="let a of [1, 2, 3, 4, 5]"
    routerLink="/station-devices"
  >
  </app-station-device-item>
</ion-content>
