<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> Settings </ion-title>
    <ion-buttons slot="end"> </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-avatar slot="start">
      <img
        src="https://gravatar.com/avatar/dba6bae8c566f9234542fb9cd9ada7741?d=identicon&f=y"
      />
    </ion-avatar>
    <ion-label>Current User</ion-label>
  </ion-item>

  <ion-list>
    <ion-list-header>
      <ion-label> Profile </ion-label>
    </ion-list-header>
    <ion-item routerLink="terms">
      <ion-label> Terms and conditions </ion-label>
    </ion-item>
    <ion-item routerLink="privacy">
      <ion-label> Privacy policy </ion-label>
    </ion-item>
    <ion-list-header>
      <ion-label> Notifications </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label> Emergency </ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label> Info </ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label> Triggers </ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>
    <ion-list-header>
      <ion-label> Appearance </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label> Dark </ion-label>
      <ion-toggle color="dark"></ion-toggle>
    </ion-item>
    <ion-list-header>
      <ion-label> Authentication </ion-label>
    </ion-list-header>
    <ion-item button>
      <ion-label> Change password </ion-label>
    </ion-item>
    <ion-item button>
      <ion-label> Logout </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
